.topnav {
  overflow: hidden;
background-color: #ffbaf0;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
width: 100%; /* Full width */ }
  a{
    text-decoration: none;
  }
.navboi{
  float: left;
 display: block;
 color: pink;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
