body{
background-image: url(8_pic1.png);
font-family: Georgia
}
div{
  background-color: white;
  margin: 1em auto;
  border: 2px solid black;
  width: 1010px;

}
#wrapper {
/*  background-color: white;
  margin: 1em auto;
  border: 2px solid black;
  width: 960px;*/
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header{
  background-color: black;
  color:white;
  margin: 10px;
  padding: 10px;
  	font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    grid-column: span 12;
}
nav {
  float: left;
display: inline-block;

}
img{
  float: left;
  width: 350px;
  padding: 4px;
  border: 2px solid black;
grid-column: span 9;
}
h2{
  border-bottom: 2px solid black;
  	font-family: Arial, Helvetica, sans-serif;

}
main{
  width: 720px;
  margin-left: 240;
  padding: 10px;
  margin: 10px;
  justify-content:center;

}
li{
background-color: red;
margin: 10px;
padding: 10px;
width:180px;
}
a{
  text-decoration: none;
  color: white;

}
ul{
  list-style-type: none;
}
li:hover{
  background-color: #7f0000;
  margin: 10px;
  padding: 10px;
  width:180px;

}
.redlink {
color: red;
font-weight: bold;

}
footer{
font-family: Verdana;
font-style: italic;
color: white;
background-color: red;
align-items: center;
padding:10px;
border: 1px solid black;
grid-column: span 12;

}
p{
  justify-content: center;
grid-column: span 12;
}
.boldp{
  font-weight: bold;
}
